img {
    height: 40px;
    width: 40px;
}

.list-group {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.title {
    font-size: 14px;
    font-weight: 600;
}

.list-group:nth-child(odd) { 
    background-color: #008080; 
}

a {
    text-decoration: none;
    color: #008080;
    font-size: 16px;
    font-weight: 400;
}

.message-banner {
    /* margin-left: 200px; */
    /* margin-right: 200px; */
    background-color: #008080;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}